@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Space+Grotesk:wght@400;500;600;700&display=swap");

body {
  min-width: 1600px;
  margin: auto;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
ul {
  list-style-type: none;
}
h2 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  color: #212529;
}
div.container {
  width: 1320px;
  margin: auto;
}
#header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-top: 60px;
}
#header-nav ul {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
}
#header-nav li {
  margin-left: 44px;
  color: #868e96;
  transition: all 0.5s;
}
#header-nav li:nth-child(1) {
  color: #263646;
  margin-left: 0;
}
#header-nav li:hover {
  color: #263646;
}
#header button {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-style: 14px;
  line-height: 22px;
  color: #3445ed;
  border: 1px solid #3445ed;
  padding: 9px 18px;
}
div.callToAction {
  width: 857px;
  margin: 140px auto;
  text-align: center;
}
div.callToAction h2 {
  padding: 0;
  margin-bottom: 24px;
}
div.subscription {
  border: 1px solid #33333326;
  border-radius: 10px;
  width: 420px;
  margin: 48px auto;
  padding: 6px;
}
div.subscription input[type="email"] {
  border: none;
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  background-color: transparent;
  color: #212529;
  width: 56%;
  margin-left: 27px;
}
div.subscription input-placeholder {
  color: #868e96;
}
div.subscription button {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  background-color: #3445ed;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  padding: 19px 52px;
}
div.sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.wrap {
  max-width: 1135px;
  margin: 75px auto;
  padding-top: 48px;
}
div.service-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
div.service-left p {
  font-size: 20px;
  color: #495057;
  border-left: 1px solid #d6dbfe;
  padding-left: 27px;
}

div.service-left h2 {
  flex: 1.5;
  font-size: 64px;
}
div.service-left p {
  flex: 1;
}
div.service-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.serviceWrap {
  width: 470px;
}
div.serviceList {
  display: flex;
}
div.serviceList img {
  margin-right: 20px;
  margin-top: 10px;
  align-self: flex-start;
}
div.servicesText {
  flex: 1;
}
div.servicesText h4 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #212529;
  margin: 0;
}
div.servicesText p {
  font-size: 16px;
  color: #868e96;
}
/*portfolio */
div.portfolioHeadline {
  width: calc(1135px / 2);
  margin-left: auto;
  margin-right: 75px;
}
div.portfolioHeadline h2 {
  font-size: 64px !important;
  line-height: 77px;
  color: #212529;
  margin-bottom: 78px;
}
nav.portfolioNav ul {
  display: flex;
  padding: 0;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 3px solid #868e96;
}
nav.portfolioNav li {
  margin-right: 68px;
  font-size: 18px;
  line-height: 28px;
  color: #868e96;
  position: relative;
}
nav.portfolioNav li:nth-child(1) {
  color: #343a40;
}
nav.portfolioNav li:nth-child(1)::after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #3445ed;
  top: 117%;
  left: 0%;
  width: 90px;
}
nav.portfolioNav li:nth-child(4) {
  margin-right: 0;
}
div.ui-kit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 48px;
}
div.ui-text p {
  font-size: 18px;
  color: #3445ed;
}
div.ui-text h4 {
  font-size: 48px;
  line-height: 58px;
  color: #212529;
  margin: 0;
}
/*Team section*/
#taam {
  padding-top: 70px;
}
div.teamText {
  width: 720px;
  margin: auto;
  text-align: center;
}
div.teamText h2 {
  font-size: 64px;
  margin: 0;
  color: #212529;
}
div.teamText p {
  font-size: 20px;
  line-height: 30px;
  color: #495057;
}
div.teamPhotoWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  margin-top: 80px;
  grid-row-gap: 40px;
}
.teamBox p {
  margin: 0;
  padding-top: 12px;
}
div.teamBox img {
  margin-bottom: 20px;
}
div.teamBox h6 {
  margin: 0;
  font-size: 24px;
  line-height: 36px;
  color: #343a40;
}
/*Client review section*/
section#reviews {
  padding: 120px 0;
}
div.reviewHeadlineText {
  display: flex;
  justify-content: space-between;
}
div.reviewTextRight h2 {
  font-size: 64px;
  line-height: 77px;
  color: #212529;
  margin: 0;
}
div.reviewTextRight p {
  color: #495057;
}
div.reviewArrowLeft {
  align-self: flex-end;
  display: flex;
}
.arrowLeft {
  width: 50px;
  height: 50px;
  margin-right: 19px;
  border-radius: 50%;
  background: #f1f3f5;
  color: #aeb4ba;
  display: grid;
  place-items: center;
}
.arrowRight {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #3445ed;
  color: white;
  display: grid;
  place-items: center;
}
div.grid-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  margin-top: 80px;
}
div.reviewBox {
  background: #f1f3f5;
  padding: 56px 30px;
  border-radius: 10px;
}
div.reviewBox p {
  font-size: 20px;
  color: #868e96;
}
div.reviewShort {
  display: flex;
  align-items: center;
}
div.blue-box {
  padding: 56px 30px;
  background-color: #3445ed;
  color: white !important;
  border-radius: 10px;
}
div.blue-box div.reviewShortText h6,
div.blue-box div.reviewShortText p {
  color: white;
}
div.reviewShortText {
  margin-left: 20px;
}
div.reviewShortText h6 {
  margin: 0;
  font-size: 20px;
  color: #212529;
}
div.reviewShortText p {
  margin: 0;
  font-size: 16px;
  color: #495057;
}
/*Blog section*/
#blog {
  padding-bottom: 120px;
}
#blog h2 {
  font-size: 64px;
  color: #212529;
}
.blogPost {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
}
div.blogPostWrap {
  background-image: url("../Image/man.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 342px;
}
div.blogPostWrap-1 {
  background-image: url("../Image/Image-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 342px;
}
.blogText {
  background-color: white;
  width: 378px;
  padding: 40px 60px;
  border: 1px solid #868e9696;
  margin-bottom: -166px;
}
.blogText h4 {
  font-size: 24px;
  line-height: 36px;
  color: #212529;
}
.blogText p {
  font-size: 16px;
  line-height: 25px;
  color: #868e96;
}
p.date {
  font-size: 12px;
  line-height: 22px;
  color: #3445ed;
}
/*Prizing section*/
#prizing {
  padding: 100px 0;
}
.prizingHeadline {
  width: 720px;
  margin: auto;
  text-align: center;
  padding-top: 70px;
}
.prizingHeadline h2 {
  font-size: 64px;
  line-height: 77px;
  margin: 0;
}
.prizingHeadline p {
  font-size: 20px;
  color: #495057;
}
.billGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f9fa;
  border-radius: 70px;
  padding: 5px;
  width: 370px;
  margin: auto;
}
.leftBill {
  background: #3445ed;
  color: #fff;
  padding: 8px 44px;
  border-radius: 70px;
  font-size: 14px;
}
.rightBill {
  padding: 8px 44px;
  border-radius: 70px;
  font-size: 14px;
  color: #868e96;
}
/*prizing box*/
.prizingBoxWrap {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}
.prizingBox {
  border: 1px solid #d6dbfe;
  border-radius: 10px;
  padding: 60px 0;
}
.prizeHead {
  padding-bottom: 10px;
  border-bottom: 2px solid #d6dbfe;
  padding: 0 40px;
}
.prizeHead span {
  font-size: 56px;
  color: #3445ed;
}
.prizeHead h4 {
  font-size: 24px;
  color: #495057;
  margin: 0;
}
.prizeHead h6 {
  font-size: 24px;
  color: #495057;
  margin: 30px 0;
}
.prizeHead p {
  font-size: 16px;
  color: #495057;
}
.prizeBody {
  padding: 0 40px;
  margin-top: 10px;
}
.prizeVarient span {
  margin-right: 30px;
}
.prizeVarient p {
  font-size: 16px;
  color: #212529;
  display: flex;
  align-items: flex-start;
}
.prizeVarient button {
  font-size: 14px;
  border: 1px solid #3445ed;
  padding: 12px 100px;
  margin-top: 30px;
  border-radius: 5px;
  font-weight: bold;
  color: #1a24aa;
  transition: all 0.5s;
}
.prizeVarient button:hover {
  background-color: #1a24aa;
  color: white;
}
div.standard {
  border: 1px solid #1a24aa;
}
div.bottom-border {
  border-bottom: 2px solid #1a24aa;
}
div.standard button {
  color: white;
  background-color: #1a24aa;
}
div.standard button:hover {
  background-color: white;
  color: #1a24aa;
}
/*QA section*/
#QA {
  padding-bottom: 100px;
}
.QAboxWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 70px;
}
.QAbox {
  display: flex;
}
.QAtext {
  margin-left: 25px;
}
.QAtext p {
  font-size: 16px;
  line-height: 25px;
  color: #868e96;
}
.QAtext h6 {
  margin: 0;
  padding: 0;
  font-size: 24px;
}
/*Get In Touch Section*/
#getInTouch {
  background-color: #3445ed;
  padding-top: 60px;
  padding-bottom: 100px;
}
.getInTouchHeading {
  text-align: center;
  margin-bottom: 60px;
}
.getInTouchHeading h2 {
  font-size: 64px;
  line-height: 77px;
  color: #fff;
}
.getInTouchHeading p {
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  margin-top: -19px;
}
.formBox {
  max-width: 1100px;
  margin: auto;
  background: #fff;
  padding: 80px 92px;
  box-sizing: border-box;
}
.formBox h4 {
  font-size: 20px;
  line-height: 30px;
  color: #212529;
}
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}
.inputName {
  border: 1px solid #d6dbfe;
  margin-bottom: 20px;
  padding: 16px;
}
.inputName:nth-child(2) {
  border: 1px solid #1a24aa;
}
.inputName label {
  font-size: 12px;
  color: #868e96;
}
.inputField input {
  border: none;
  font-size: 16px;
  color: #3445ed;
}
.inputTextColor input {
  color: #adb5bd;
}
textarea {
  font-size: 16px;
  color: #adb5bd;
  padding: 30px;
}
.button {
  text-align: center;
  margin-top: 56px;
}
.button button {
  border: 1px solid #3445ed;
  background: #3445ed;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 22px 170px;
}
/*Footer area*/
footer.footer {
  padding-top: 100px;
  padding-bottom: 40px;
}
.footerWrap {
  display: grid;
  grid-template-columns: 3fr repeat(2, 1fr);
  grid-column-gap: 20px;
  width: 1150px;
  margin: auto;
  padding-bottom: 48px;
}
.footerText h2 {
  font-size: 56px;
  font-weight: bold;
  line-height: 67px;
  color: #212529;
  margin: 0;
}
.footerInput {
  margin-top: 62px;
}
.footerInput input[type="email"] {
  outline: 0;
  background-color: #f1f3f5;
  color: #868e96;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
}
.footerInput input[type="email"]:focus {
  border: none;
}
.footerInput input[type="button"] {
  border-radius: 5px;
  border: none;
  background-color: #1a24aa;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 18px 40px;
  margin-left: 10px;
}
.footerNav h4 {
  font-size: 24px;
  font-weight: bold;
  color: #212529;
}
.footerNav ul {
  padding: 0;
}
.footerNav li {
  font-size: 16px;
  color: #495057;
  margin-bottom: 10px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  color: #ffffff47;
}
.footerEnd {
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
  margin: 19px auto;
}
.socialIcon {
  margin-right: 114px;
}
